Google/*
Client/token.json
Client/http_client.py
Client/__pycache__/*
Server/src/flask
Server/src/__pycache__/*
Server/src/googleservice/client_secret.json
Server/src/googleservice/__pycache__/*
Server/src/database/__pycache__/*
Server/src/database/database.ini
